.container {
  width: 280px;
  height: 100px;
  margin: 10px 0;

  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 rgb(20 20 20 / 40%);
}
.title {
  font-size: 16px;
  font-family: "Arita-dotum-Medium";
  font-style: normal;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.category {
  width: 100%;
  font-size: 12px;
  font-family: "Arita-dotum-Medium";
  font-style: normal;
  font-weight: normal;
  color: black;
  text-decoration: none;
  overflow: hidden;
}
.address {
  font-size: 12px;
  font-family: "Arita-dotum-Medium";
  font-style: normal;
  font-weight: normal;
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 740px) {
  .container {
    width: 280px;
    height: 100px;
    margin: 10px 0;

    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgb(20 20 20 / 40%);
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 90%;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgb(20 20 20 / 40%);
  }
}
