.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  background: linear-gradient(150deg, #07b495, 90%, #078707);
}
@media screen and (min-width: 768px) {
  .logo {
    width: 100%;
    height: 40px;
    padding: 10px 30px 10px 10px;
    font-weight: bolder;
    font-size: 1.4rem;
    color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 10px;
  padding-bottom: 20px;
}
.title span {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .title span:nth-child(1) {
  font-size: 50px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

@media screen and (max-width: 740px) {
  .logo {
    text-align: center;
    padding: 30px 0 0 0;
    font-weight: bolder;
    font-size: 1.4rem;
    color: white;
  }
  .title {
    display: block;
    font-size: 1.4rem;
    text-align: center;
  }
  .title span {
    font-size: 2.5rem;
  }
}
