body {
  background-color: #f9f9f9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'Malgun Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  position: relative;
}

@media screen and (max-width: 768px) {
  #router.is-open {
    left: 0;
    right: 0;
  }
  .gnb-open-btn-burger {
    display: none;
  }
  .gnb-open-btn-burger.is-open {
    display: block;
    background-image: url('./source/images/button-navigation.svg');
    position: absolute;
    right: calc(150vw + 30px);
    top: 30px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
  .gnb-open-btn-close {
    display: none;
  }
  .gnb-open-btn-close.is-open {
    display: block;
    background-image: url('./source/images/button-detail-close.svg');
    content: 'x';
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}
.ReactModal__Overlay {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
  z-index: 3;
}
